<!-- <p>profile-information works!</p> -->
<div class="information">
    <span routerLink="/Dashboard/cards">Home/</span> Profile
    </div>

<div class="main">
    <div class="data">
        <span class="details">
            Personal Details 
        </span>
        <br>
        <span class="edit">Edit</span>
    </div>
    <div><label>Full Name</label><input type="text" id="Name" value="{{name}}"/></div>
    <div ><label>Email id</label><input type="text" id="Name" value="{{email}}"/></div>
    <div ><label>Password</label><input type="text" id="Name" value="{{password}}"/></div>
    <div ><label>Mobile number</label><input type="text" id="Name" value="{{mobile}}"/></div>

</div>
<div class="address-component">
    <app-address></app-address>
</div>